if tweets
    each tweet in tweets
        div(class="card tweet-element")
            div(class="card-body row")
                div(class="card-text col-11")= tweet.content
                button(class="btn btn-danger float-right" tweetid= tweet._id) X    